@model eattofit.Cartao

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    

    
    <div class="form-horizontal">
        <h4>Cartao</h4>

        <p style="margin-left:200px"> Selecione os Cartões que Aceita </p>

        <div class="form-group" style="margin-left:200px">

            <div class="checkbox">

                <input id="Elo" type="checkbox" value="cpf" name="cpf"><b>Elo</b>

            </div>
            <div class="checkbox">
                <input id="mostrarCnpj" type="checkbox" value="cnpj" name="cnpj"><b>Mastercard</b>
            </div>
            
            <div class="checkbox">
                <input id="mostrarCnpj" type="checkbox" value="cnpj" name="cnpj"><b>Visa</b>
            </div>

            <div class="checkbox">
                <input id="mostrarCnpj" type="checkbox" value="cnpj" name="cnpj"><b>VR</b>
            </div>

        </div>

        




        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Bandeira, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bandeira, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bandeira, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagemUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImagemUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImagemUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdFornecedor, "IdFornecedor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdFornecedor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdFornecedor, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
