@model IEnumerable<eattofit.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QantidadePedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota1.DataHoraNota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.NomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota1.FormaPagamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QantidadePedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota1.DataHoraNota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota1.FormaPagamento)
        </td>
       
    </tr>
}

</table>
