@model IEnumerable<eattofit.Pedido>

@{
    ViewBag.Title = "ListaPedidos";
}


@if (Session["IdFornecedor"] != null)
{

    <h2>Olá @Session["Email"].ToString()</h2>
    <h2>Histórico de Pedidos</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QantidadePedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto.NomeProduto)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QantidadePedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdPedido }) |
                </td>
            </tr>
        }

    </table>


}
else{
<p style="text-align:center">Faça o login para ter acesso ao conteúdo</p>
}


