@model IEnumerable<eattofit.Cliente>

@{
    ViewBag.Title = "ListaClientes";
}
@if (Session["IdFornecedor"] != null)
{

    <h2>Bem Vindo @Session["Email"].ToString()</h2>

    <h2 style="text-align:center">Seus Clientes</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>

                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdCliente }) |

                </td>
            </tr>
        }

    </table>


}
else
{
    <p style="text-align:center">Faça o login para ter acesso ao conteúdo</p>

}

