
@using PagedList.Mvc;
@model PagedList.IPagedList<eattofit.Produto>


@{
    ViewBag.Title = "Index";
}
    <h2>Gerenciar Produtos</h2>
    <br/>

    <p>
      @Html.ActionLink("Criar Novo Produto", "Create")
    </p>
    <input type="submit" value="Buscar"

    @using (Html.BeginForm("Index", "Fornecedor", FormMethod.Get))
    {
        <p>
        Procura por Nome: @Html.TextBox("SearchString");
            </p>
    }



    <br/>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Nome do Produto", "Index", new { sortOrder = ViewBag.NomeParam})
            </th>
            <th>
                @Html.ActionLink("Descrição do Produto", "Index", new { sortOrder = ViewBag.DescricaoParam })
            </th>
            <th>
                @Html.ActionLink("Valor do Produto", "Index", new { sortOrder = ViewBag.ValorParam })
            </th>
            <th>
                @Html.ActionLink("Categoria do Produto", "Index", new { sortOrder = ViewBag.CategoriaParam })
            </th>
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.DescriçãoCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdProduto }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdProduto }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.IdProduto })
                </td>
            </tr>
        }

    </table>

 
}
else{ 

    <p style="text-align:center">Faça o login para ter acesso a este conteúdo</p>
}

       Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of  @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortorder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

